html, body{
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
  }
body{
    display: grid;
    height: 300vh;
    grid-template-rows: 78px 90vh 100vh 85vh 15vh;
    background-color: #212529;
}

/* Nav */
@font-face{
    font-family: tome-of-the-unknown;
    src: url(./Bahan/Tomeoftheunknown-3gL3.ttf);
}
nav{
    background-color: rgba(192,192,192, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#title{
    font-family: tome-of-the-unknown;
    font-size: 47px;
    padding-left: 30px;
    color: aqua;
}
#title a{
    color: aqua;
    margin: 0;
    filter: drop-shadow(0 4px 12px aqua);
}
#menu ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 20px;
}
#menu ul li{
    list-style: none;
    font-size: large;
    font-weight: bolder;
    margin: 0 5px;
    padding: 0 10px;
    border-radius: 20px;
    text-align: center;
}
#menu ul li a{
    text-decoration: none;
    color: white;
}
#menu ul li:hover{
    background-color: aqua;
    transform: scale(1.05);
    filter: drop-shadow(0 4px 5px aqua);
}


/* About */
#about{
    display: grid;
    grid-template-rows: 6fr 1fr;
    grid-template-columns: 1fr 1fr;
    /* Mobile Change */
    grid-template-areas: 
    "left right"
    "more more";
    gap: 20px;
    padding: 30px;
}
#left{
    display: flex;
    align-items: center;
    padding: 40px;
    grid-area: left;
    color: white;
    cursor: default;
}
#left h1{
    margin: 0;
}
#sosmed{
    margin-top: 2.3rem;
    padding-left: 3rem;
}
#sosmed a{
    text-decoration: none;
}
#sosmed a img{
    width: 40px;
    height: 40px;
    padding: 0 20px;
}
#sosmed a img:hover{
    filter: drop-shadow(2px 2px 4px aqua);
    transform: scale(1.1);
}
#sosmed a img:active{
    outline: none;
}
#right{
    display: flex;
    justify-content: center;

    padding: 40px;
    grid-area: right;
}
#more{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: more;
}
.more{
    border-radius: 50% 10% ;
    background-color: rgba(255, 255, 255, 0);
    width: 90px;
    height: 40px;
    padding: 0;
    margin: 0;
}
.more:hover{
    transform: scale(1.1);
}
.more a{
    text-decoration: none;
    font-weight: 600;
    color: aqua;
    filter: drop-shadow(0 0 9px);
}
.more a div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
}
.more a div:hover{
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 8px );
}


/* Project */
/* I got the fucking problem in this fucking section */
/* tag a is not fit with tag img and p */
/* there is some thing  */
#project{
    display: grid;
    grid-template-rows: 1fr 7fr;
    padding: 30px;
    gap: 20px;
    cursor: default;
}
#project-title{
    display: flex;
    justify-content: center;
    color: white;
    font-size: large;
    filter: drop-shadow(0 5px 5px aqua);
}
#project-section{
    display: grid;
    /* Mobile Change */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 0 100px;
    gap: 40px;
}
#project-section a{
    height: 270px;
    text-decoration: none;
    color: white;
}
.project-items{
    display: grid;
    grid-template-rows: 210px 60px;
    box-shadow: 4px 5px 6px grey;
    border-radius: 2px;
}
.project-items:hover{
    transform: scale(1.019);
}
.image-p{
    max-width: 100%;
    max-height: 100%;
}
.image-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#caption{
    background-color: slategray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0;
}
.code{
    color: aqua;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; 

}
.project-items:hover .code{
    opacity: 1;
}



/* Contact */
#contact{
    display: grid;
    grid-template-rows: 1fr 6fr;
    padding: 30px;
    cursor: default;
}
#contact-title{
    display: flex;
    justify-content: center;
    color: white;
}
#contact-title h1{
    filter: drop-shadow(0 3px 5px aqua);
}
#contact-form{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 9rem;
}
#form{
    position: absolute;
    z-index: 1;
    left: 10%;
    /* Mobile change */
    width: 40%;
    height: 99%;
    transform: translateY(2px);
    border: 2px solid rgba(0, 255, 255, 0.315);
    border-right: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
#logos{
    position: absolute;
    left: 48%;
    z-index: 2;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 2px 5px aqua;
}
.pyramid-loader {
    position: relative;
    width: 300px;
    height: 300px;
    display: block;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
  }
  
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
  }
  
  @keyframes spin {
    100% {
      transform: rotateY(360deg);
    }
  }
  
  .pyramid-loader .wrapper .side {
    width: 200px;
    height: 200px;
  /* you can choose any gradient or color you want */
    background: radial-gradient( #2F2585 10%, #F028FD 70%, #2BDEAC 120%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  
  .pyramid-loader .wrapper .side1 {
    transform: rotateZ(-30deg) rotateY(90deg);
    background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
  }
  
  .pyramid-loader .wrapper .side2 {
    transform: rotateZ(30deg) rotateY(90deg);
    background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
  }
  
  .pyramid-loader .wrapper .side3 {
    transform: rotateX(30deg);
    background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
  }
  
  .pyramid-loader .wrapper .side4 {
    transform: rotateX(-30deg);
    background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
  }
  
  .pyramid-loader .wrapper .shadow {
    width: 190px;
    height: 190px;
    background: #8B5AD5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(90deg) translateZ(-110px);
    filter: blur(42px);
  }


/* Footer */
footer{
    text-align: center;
    background-color: rgba(192,192,192, 0.6);
    padding: 40px;
}

/* Mobile Solution */
@media (max-width: 1050px){
    #about{
        grid-template-rows: 7fr 7fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "right"
        "left"
        "more";
    }
    #left{
        justify-content: center;
    }
    #left{
        text-align: center;
    }
    #project-section{
        grid-template-columns: 1fr 1fr;
        padding: 0 60px;
    }
    #form{
        left: 15%;
        width: 70%;
        border-right: 2px solid rgba(0, 255, 255, 0.315); 
        border-radius: 20px;
    }
    #logos{
        position: fixed;
    }
    #contact-form{
        grid-template-columns: 1fr;
    }
}